body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;

  height: 100%;
}

:root {
  $size: 1rem;
  $height: $size * 1.5;

  --font-size: #{$size};
  --line-height: #{$height};
}
